Repository RaffyRod/QA-web-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit --pretty

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "tsc --noEmit --pretty"],
  "*.js": ["prettier --write"],
  "*.{json,html,css,md}": ["prettier --write"]
}

Compact PDF cards & image fixes
  public/app.js
  public/i18n.js
  public/index.html
  public/js/export.js
  public/styles.css
  src/services/analyzer.service.ts
Due: prettier --write, tsc --noEmit --pretty

Refactor: modular CSS & responsive
  README.es.md
  README.md
  public/css/base.css
  public/css/components.css
  public/css/layout.css
  public/css/main.css
  public/css/modal.css
  public/css/options.css
  public/css/responsive.css
  public/css/results.css
  public/css/variables.css
  public/favicon.svg
  public/index.html
  public/js/app.js
  public/js/export.js
  public/js/i18n.js
  public/js/themes.js
  public/styles.css
  start.bat
  start.sh
Due: prettier --write

Fix: remove locator cell, prevent duplicates
  public/index.html
Due: prettier --write

Add credits section with attribution
  README.es.md
  README.md
Due: prettier --write

Design stable checkpoint
  public/css/components.css
  public/css/layout.css
  public/css/modal.css
  public/css/options.css
  public/css/responsive.css
  public/css/results.css
  public/favicon.svg
  public/index.html
  public/js/app.js
  public/js/export.js
  public/js/i18n.js
  public/js/themes.js
  start.bat
  start.sh
Due: prettier --write

feat: logs y docs mejorados
  README.es.md
  README.md
  frontend/vite.config.ts
  src/server.ts
Due: prettier --write, tsc --noEmit --pretty

docs: update READMEs
  README.es.md
  README.md
Due: prettier --write

chore: add .env.example
  .env.example
Due: none

Add auto setup script
  README.es.md
  README.md
  frontend/src/App.vue
  frontend/src/main.ts
  package.json
  setup-and-run.js
  start.bat
  start.sh
  tsconfig.json
Due: prettier --write, tsc --noEmit --pretty

Update ports and READMEs
  README.es.md
  README.md
  frontend/.gitignore
  frontend/src/stores/analysis.ts
  frontend/vite.config.ts
  package.json
  public/favicon.svg
  setup-and-run.js
  src/server.ts
Due: prettier --write, tsc --noEmit --pretty

Add server connectivity tests
  tests/utils/port-finder.test.ts
  tests/utils/server-connectivity.test.ts
Due: prettier --write, tsc --noEmit --pretty

Add Mac/Safari compatibility
  frontend/src/components/ExportModal.vue
  public/css/components.css
  public/css/layout.css
  public/css/modal.css
  public/css/options.css
  public/css/results.css
Due: prettier --write

Fix project structure formatting in README files
  README.es.md
  README.md
Due: prettier --write

Add visible 'npm run start:all' command for running without setup
  README.es.md
  README.md
Due: prettier --write

Add Playwright browser installation to setup script
  README.es.md
  README.md
  setup-and-run.js
Due: prettier --write

Improve Playwright installation: verify package exists and install only Chromium
  setup-and-run.js
Due: prettier --write

Add unit tests for setup and installation script
  tests/setup/setup-and-run.test.ts
Due: prettier --write, tsc --noEmit --pretty

Move setup-and-run.js to scripts folder and fix WCAG modal hover text visibility
  README.es.md
  README.md
  package.json
  public/css/modal.css
  scripts/setup-and-run.js
  start.bat
  start.sh
Due: prettier --write

Update READMEs with correct path to setup-and-run.js in scripts folder
  README.es.md
  README.md
Due: prettier --write

Fix WCAG modal requiring multiple clicks - use reactive props instead of window methods
  frontend/src/components/AnalysisForm/AnalysisForm.vue
  frontend/src/components/WcagInfoModal.vue
Due: none

Improve mobile UX: collapsible categories, touch-friendly controls, and responsive design
  frontend/src/components/AnalysisForm/OptionsPanel.vue
  frontend/src/components/WcagInfoModal.vue
  frontend/src/stores/analysis.ts
  frontend/src/stores/language.ts
  src/types/index.ts
Due: prettier --write, tsc --noEmit --pretty

Add search functionality to WCAG info modal with 3-character minimum and language support
  frontend/src/components/WcagInfoModal.vue
  frontend/src/stores/language.ts
  public/css/modal.css
Due: prettier --write, tsc --noEmit --pretty

Add UI/UX preview HTML with 12 design options for Analysis Options
  public/options-ui-preview.html
Due: prettier --write

feat: improve options panel UX
  README.es.md
  README.md
  frontend/src/components/AnalysisForm/OptionsPanel.vue
  frontend/src/components/WcagInfoModal.vue
  frontend/tests/components/OptionsPanel.test.ts
  public/css/options.css
  public/options-ui-preview.html
  src/server.ts
  src/services/analyzer.service.ts
Due: prettier --write, tsc --noEmit --pretty

feat: translate WCAG modal
  README.md
  frontend/src/components/AnalysisForm/OptionsPanel.vue
  frontend/src/components/WcagInfoModal.vue
  frontend/src/stores/language.ts
Due: prettier --write, tsc --noEmit --pretty

docs: update README translations
  README.md
Due: prettier --write

feat: translate category headers
  README.md
  frontend/src/components/AnalysisForm/OptionsPanel.vue
  frontend/src/stores/language.ts
Due: prettier --write, tsc --noEmit --pretty

docs: update README translations
  README.es.md
  README.md
Due: prettier --write

docs: improve project structure
  README.es.md
  README.md
Due: prettier --write

docs: add tech doc links
  README.es.md
  README.md
Due: prettier --write

fix: improve text visibility
  frontend/src/components/AnalysisForm/OptionsPanel.vue
Due: none

fix: stronger text shadow
  frontend/src/components/AnalysisForm/OptionsPanel.vue
Due: none

fix: remove text shadow from labels
  frontend/src/components/AnalysisForm/OptionsPanel.vue
Due: none

docs: improve project structure spacing
  README.es.md
  README.md
Due: prettier --write

docs: improve example analysis section
  README.es.md
  README.md
Due: prettier --write

Fix: Text visibility across all themes, glassmorphism hover color, and URL removal notification
  README.es.md
  README.md
  frontend/.gitignore
  frontend/src/components/AnalysisForm/AnalysisForm.vue
  frontend/src/components/AnalysisForm/OptionsPanel.vue
  frontend/src/components/NotificationAlert.vue
  frontend/src/components/Results/Results.vue
  frontend/src/stores/language.ts
  frontend/src/stores/savedUrls.ts
  frontend/tests/stores/savedUrls.test.ts
  public/css/base.css
  public/css/components.css
  public/favicon.svg
Due: prettier --write, tsc --noEmit --pretty

Fix: Change analysis cancellation from error to success notification
  README.es.md
  README.md
  frontend/src/components/AnalysisForm/AnalysisForm.vue
  frontend/src/stores/analysis.ts
  frontend/src/stores/language.ts
Due: prettier --write, tsc --noEmit --pretty
